<div id="quote-calculate">
    <partial name="_CalculateQuotePartial.cshtml" />
</div>
<div id="quote-confirmation" hidden>
    <partial name="_QuoteConfirmationPartial.cshtml" />
</div>

@section scripts{
        <script type="text/javascript" src="~/js/Quote/calculate-quote.js"></script>
}