
@{
    ViewData["Title"] = "Success";
}

<div class="container text-center text-secondary" style="margin-top:130px;">
    <div class="flex-column align-items-center align-content-center justify-content-center">
        <img class="ms-5" src="~/images/successful-task-completion.svg" width="350" height="350" />
        <h3  class="my-2 fs-3 fw-bold">APPLICATION SUCCESS</h3>
        <a href="https://www.moneyme.com.au" class="btn btn text-center bg-primary text-white mt-3">DONE</a>
    </div>
</div>

